{% extends "base_generic.html" %} {% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.level_tag %}alert-{{ message.level_tag }}{% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}

<div class="container row">
  <h2>Realiza una busqueda</h2>

  <div class="busqueda container justify-content-center col-sm-6">
    <form id="search-legal-record" action="{% url 'index' %}" method="POST">
      {% csrf_token %} {{ form }}
      <button
        class="g-recaptcha btn btn-warning"
        data-sitekey="{{ RECAPTCHA_SITE_KEY }}"
        data-callback="onSubmitCaptcha"
        data-action="submit"
      >
        Buscar
      </button>
    </form>
  </div>
</div>
<script>
  function onSubmitCaptcha(token) {
    document.getElementById("search-legal-record").submit();
  }
</script>
{% endblock %}
